<div class="row upper-controls">
  <button class="btn btn-primary" data-ng-click="previousQuestion()">Anterior</button>
  <button class="btn btn-success" data-ng-click="finishExam()">Finalizar</button>
  <button class="btn btn-primary" data-ng-click="nextQuestion()">Próxima</button>
</div>

<div>
  <div>
    <h1>{{question.title}}</h1>
  </div>

  <div>
    <ul>
      <li data-ng-repeat="option in question.options">
        <label for="{{option}}">{{option}}</label>
        <input data-ng-click="saveAnswer($index)" type="radio" id="{{option}}" name="option">
      </li>
    </ul>
  </div>
</div>

<div class="row lower-controls">
  <button class="btn btn-primary" data-ng-click="previousQuestion()">Anterior</button>
  <button class="btn btn-success" data-ng-click="finishExam()">Finalizar</button>
  <button class="btn btn-primary" data-ng-click="nextQuestion()">Próxima</button>
</div>
